/* NoteList.css */

.node-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  
  .note-card {
    max-width: 345px;
    margin: 20px;
  }
  